{% extends 'main/base.html' %}

{% block content %}
<div class="profiles-container">
    <h2>Confirm Deletion</h2>
    
    <p>Are you sure you want to delete the profile for {{ object.first_name }} {{ object.last_name }}?</p>
    
    <form method="post" >
        {% csrf_token %}
        <button type="submit" class="save-button">Delete</button>
    </form>
</div>

<style>
    .profiles-container {
        max-width: 800px;
        margin: 0 auto;
    }

    /* Add additional styles as needed */
</style>
{% endblock %}