{% extends 'main/base.html' %}

{% block content %}
<div class="profiles-container">
    <h2>Profiles</h2>
    
      <div class="profile" style="background-color: {{ profile.color }}">
        <div class="name">{{ profile.first_name }}</div>
        <div class="birth-date">{{ profile.birth_date }}</div>
        <div class="interests">{{ profile.interests }}</div>
        {% if user.is_authenticated and user == profile.user or user_status.is_superuser or user_group == 'Admin' %}
          <hr>
          <a href="{% url 'delete_detail' profile.id  %}" class="btn btn-warning " >удалить</a>
          <a href="{% url 'profiles' %}" class="btn btn-warning " >изменить</a>
        {% endif %}
      </div>
  </div>

  <style>
    .profiles-container {
        max-width: 800px;
        margin: 0 auto;
      }
      
      h2 {
        color: #333;
      }
      
      .profile {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 15px;
      }
      
      .name {
        font-size: 18px;
        font-weight: bold;
      }
      
      .birth-date, .interests {
        margin-top: 5px;
        color: #555;
      }
      
      /* Разные цвета для карточек */
      .profile:nth-child(odd) {
        background-color: #f2f2f2; /* Светлый цвет для нечетных карточек */
      }
      
      .profile:nth-child(even) {
        background-color: #e6e6e6; /* Темный цвет для четных карточек */
      }
  </style>
{% endblock %}