{% extends 'main/base.html' %}

{% block content %}

<div class="profiles-container">
  <h2>Your Profile(s)</h2>
  
  {% if user_profile %}
      <div class="profile" style="background-color: {{ user_profile.color }}">
          <div class="name">{{ user_profile.first_name }}</div>
          <div class="birth-date">{{ user_profile.birth_date }}</div>
          <div class="interests">{{ user_profile.interests }}</div>
          <hr>
          {% if user.is_authenticated and user == user_profile.user or user_status.is_superuser or user_group == 'Admin' %}
              <a href="{% url 'delete_detail' user_profile.id %}" class="btn btn-warning">Delete</a>
              <a href="{% url 'profiles' %}" class="btn btn-warning">Edit</a>
          {% endif %}
      </div>
  {% else %}
      <p>No profile found.</p>
      <a href="{% url 'profiles' %}" class="btn btn-primary">Create Profile</a>
  {% endif %}
</div>


  <style>
    .profiles-container {
        max-width: 800px;
        margin: 0 auto;
      }
      
      h2 {
        color: #333;
      }
      
      .profile {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 15px;
        overflow: hidden;
      }
      
      .name {
        font-size: 18px;
        font-weight: bold;
      }
      
      .birth-date, .interests {
        margin-top: 5px;
        color: #555;
        max-width: 400px; /* Максимальная высота текста */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      
      /* Разные цвета для карточек */
      .profile:nth-child(odd) {
        background-color: #f2f2f2; /* Светлый цвет для нечетных карточек */
      }
      
      .profile:nth-child(even) {
        background-color: #e6e6e6; /* Темный цвет для четных карточек */
      }
  </style>
{% endblock %}
