{% extends 'main/base.html' %}


{% block content %}
  <div class="profile-container">
    <h2>Your Profile</h2>
    <form method="post" enctype="multipart/form-data" class="profile-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="save-button">Save</button>
    </form>
    <div class="security-info">
      <p>All your information is securely protected.</p>
    </div>
  </div>
  <style>
    body {
      background: rgb(0,232,255) no-repeat;
      background: linear-gradient(143deg, rgba(0,232,255,1) 31%, rgba(0,138,255,1) 46%, rgba(0,164,255,1) 71%, rgba(0,95,255,1) 91%) no-repeat;
      height: 100vh;
      color: #222;
    }
    
    .profile-container {
      max-width: 600px;
      margin: 0 auto;
    }
    
    h2 {
      color: #333;
    }
    
    .profile-form {
      margin-top: 20px;
    }
    
    label {
      display: block;
      margin-top: 10px;
      font-weight: bold;
    }
    
    input[type="text"],
    input[type="date"],
    textarea {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      margin-bottom: 15px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    .save-button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .save-button:hover {
      background-color: #45a049;
    }
    
    .security-info {
      margin-top: 20px;
      text-align: center;
    }
    
    .security-info p {
      color: #777;
    }
    
    .security-icon {
      width: 30px;
      height: 30px;
      margin-top: 10px;
    }
  </style>
{% endblock %}