{% extends 'main/base.html' %}

{% block content %}
<div style="text-align: center; margin: 0 auto;">
    <h2>My Products</h2>
    {% if user_products %}
        <div class="product-cards-container">
            {% for product in user_products %}
                <div class="product-card">
                    <h2>{{ product.name }}</h2>
                    {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" />
                  {% else %}
                    <p>No image available</p>
                  {% endif %}
                    <p class="description">Description: {{ product.description }}</p>
                    <p>Reviews: {{ product.reviews }}</p>
                    <a class="btn btn-success" href="{% url 'view_product' product_id=product.id %}">Посмотреть</a>
        
                    {% if user.is_authenticated and user == product.user or user_status.is_superuser %}
                        <a class="btn btn-warning" href="{% url 'edit_product' product_id=product.id %}">Edit</a>
                        <a class="btn btn-warning" href="{% url 'delete_product' product_id=product.id %}">Delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No products available.</p>
    {% endif %}
</div>

<style>
    .product-cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    
    .product-card {
      width: 30%; 
      margin: 10px;
      padding: 10px;
      border: 1px solid #ddd; 
      box-sizing: border-box;
      text-align: center; 
    }

    .product-card img {
      width: 100%;
      height: auto;
      border: 3px solid black; 
    }

    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
</style>
{% endblock %}