{% extends 'main/base.html' %}

{% block content %}
<div class="container">
  <form method="get" action="{% url 'product' %}" class="sort-form">
    <label for="sort_order">Sort Product:</label>
    <select name="sort_order" id="sort_order">
      <option value="ascending">Сheap</option>
      <option value="descending">Expensive</option>
    </select>
    <button type="submit" class="btn btn-outline-primary px-5">Sort</button>
  </form>
</div>


  <div class="product-cards-container">
    {% for product in products %}
      <div class="product-card">
        <h2>{{ product.name }}</h2>
        {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}" />
        {% else %}
          <p>No image available</p>
        {% endif %}
        <p class="description">description: {{ product.description}}</p>
        <p>Price: {{ product.price }}$</p>
        {% if not user == product.user %}
        <a class="btn btn-success" href="{% url 'add_to_wishlist' product_id=product.id %}">Buy</a>
        {% endif %}
        <a class="btn btn-success "  href="{% url 'view_product' product_id=product.id %}">Посмотреть</a>

        {% if user.is_authenticated and user == product.user or user_status.is_superuser or user_group == 'Admin' %}
          <a class="btn btn-warning"  href="{% url 'edit_product' product_id=product.id %}">Edit</a>
          <a class="btn btn-warning"  href="{% url 'delete_product' product_id=product.id %}">Delete</a>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <style>
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 9vh;
      margin-top: 15px;
    }
    
    .sort-form {
      text-align: center;
    }
    
    label {
      font-size: 1.2em; /* Измените размер шрифта по своему усмотрению */
    }
    
    select {
      height: 38px;

    }
    
    .btn {
      height: 38px;
    }
  
 

    .product-cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      
    }
    img {
      border: solid 3px black;
      
    }
    .product-card {
      width: 30%; 
      margin: 10px;
      padding: 10px;
      border: 1px solid #ddd; 
      box-sizing: border-box;
      text-align: center; 
    }

    .product-card img {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #ddd; 
    }

    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  </style>
{% endblock %}