{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <form method="get" action="{% url 'product' %}" class="sort-form">
    <label for="sort_order">Sort Product:</label>
    <select name="sort_order" id="sort_order">
      <option value="ascending">Сheap</option>
      <option value="descending">Expensive</option>
    </select>
    <button type="submit" class="btn btn-outline-primary px-5">Sort</button>
  </form>
</div>


<div class="row row-cols-1 row-cols-md-3 g-3" >
  {% for product in products %}
    <div class="col">
      <div class="card" style="width: 18rem; height: 30rem;">
        {% if product.image %}
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
        {% else %}
          <img src="{% static 'img/default.jpg' %}" class="card-img-top" alt="{{ product.name }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Description: {{ product.description }}</p>
          <p class="card-text">Price: {{ product.price }}$</p>
          {% if not user == product.user %}
            <a class="btn btn-success" href="{% url 'add_to_wishlist' product_id=product.id %}">Buy</a>
          {% endif %}
          <a class="btn btn-success" href="{% url 'view_product' product_id=product.id %}">Посмотреть</a>
          <br>
          <br>
          {% if user.is_authenticated and user == product.user or user_status.is_superuser or user_group == 'Admin' %}
            <a class="btn btn-warning" href="{% url 'edit_product' product_id=product.id %}">Edit</a>
            <a class="btn btn-warning" href="{% url 'delete_product' product_id=product.id %}">Delete</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

  <style>
    body {
      background: rgb(45,195,67) no-repeat;
      background: linear-gradient(153deg, rgba(45,195,67,1) 32%, rgba(90,215,30,1) 53%, rgba(142,255,0,1) 69%) no-repeat;
      height: 200vh;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 9vh;
      margin-top: 15px;
    }
    
    .sort-form {
      text-align: center;
    }
    
    label {
      font-size: 1.2em;
    }
    
    select {
      height: 38px;
    }
    
    .btn {
      height: 38px;
    }
    
    .row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      width: 80%;
      margin-left: 8%;
      margin-top: 4%;
    }
    .card {
      background: rgb(45,134,195);
      background: linear-gradient(148deg, rgba(45,134,195,1) 32%, rgba(30,52,215,1) 53%, rgba(128,0,255,1) 69%);
      color: #fff;
    }
    .col {
      width: 100%;
    }
    @media (min-width: 400px) {
      .row {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    @media (min-width: 450px) {
      .row {
        grid-template-columns: repeat(2, 1fr); 
      }
    }
    
    @media (min-width: 768px) {
      .row {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media (min-width: 992px) {
      .row {
        grid-template-columns: repeat(4, 1fr); 
      }
    }
    @media (min-width: 1392px) {
      .row {
        grid-template-columns: repeat(4.5, 1fr);
      }
    }
    @media (min-width: 1450px) {
      .row {
        grid-template-columns: repeat(5, 1fr);
      }
    }
    @media (min-width: 1592px) {
      .row {
        grid-template-columns: repeat(12, 1fr); 
      }
    }
  </style>

  {% endblock %}