{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/authenticate.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>{% block title %}
    AC Django Project
    {% endblock %}</title>

    {% bootstrap_css %}

    {% block link %}

    {% endblock %}

    {% block style %}

    {% endblock %}
  </head>
  <body>


    {% if user.is_authenticated %}
      <main id="logged-in-menu">
        {% include "main/navbar.html" %}

          <div id="messages" style="text-align: center;">
            {% bootstrap_messages %}
          </div>

          {% block content %}

          {% endblock %}

          {% block script %}

          {% endblock %}
        </div>
      </main>
    {% else %}
      <div class="logged-out-navbar">

        <div class="log_reg">

          <a href="{% url 'register' %}" class="register">Sign up</a>
          <a href="{% url 'login' %}" class="login">Sign in</a>
        </div>
      </div>
      <main id="logged-out-menu">
        {% bootstrap_messages %}
        {% block auth_content %}
        {% endblock %}
      </main>
    {% endif %}

    {% bootstrap_javascript %}

  </body>
</html>