{% extends 'main/base.html' %}


{% block title %}
  Registration
{% endblock %}

{% block auth_content %}
  <div class="container" style="margin-top: 170px;">
    <h1>Registration</h1>

    {% include "form_snippets.html" with form=form btn_text='Register' %}

    <hr>
    <div class="mb-5">
        <small class="text-muted">
            Already have an account? 
            <a href="{% url 'login' %}">Login</a> 
        </small>
    </div>
  </div>

  
<style>
  .container {
    margin: 25px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  }
  
  .email-field,
  .username-field,
  .password-field,
  .password-confirm-field {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .email-field:focus,
  .username-field:focus,
  .password-field:focus,
  .password-confirm-field:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0px 0px 5px rgba(74, 144, 226, 0.5);
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center; 
    cursor: pointer; 
  
 
  }
  .btn:hover {
    background-color: #3067a8;

  }
</style>

{% endblock %}

{% block script %}

{% endblock %}