<div class="logged-out-navbar">

    <div class="log_reg">

      <a href="{% url 'register' %}" class="register">Sign up</a>
      <a href="{% url 'login' %}" class="login">Sign in</a>
    </div>
  </div>
<section class="hero">
    <div class="content">
      <div class="header">
        <h1>ShopifyX Portfolio</h1>
      </div>
    </div>
  </section>
  <section class="about-myself">
    <div class="content">
      <h2>Hi !</h2>
      <p>Привет, я <span>Эльшан</span>. Добро пожаловать на наш сайт-магазин! Здесь мы предоставляем уникальный опыт покупок с широким ассортиментом товаров и выгодными ценами. Наш интерфейс — интуитивно понятный, обеспечивая легкость и комфорт при выборе продукции. Мы гарантируем высокое качество товаров, поддерживаем безопасные методы оплаты и быструю доставку. Наши специальные предложения делают покупки еще более привлекательными. Современный дизайн сайта и прозрачная информация обеспечивают удовлетворение вашего опыта покупок. Обращайтесь к нам для надежных и удовлетворительных онлайн-покупок!</p>
    </div>
  </section>
  <section class="experience">
    <div class="content">
      <h1>Our Journey</h1>
      <ul>
        <li>
          <div class="experience-content hidden">
            <h2>Company</h2>
            <div class="experience-time">Jan - Jun 2016</div>
            <p>Exploring new horizons and expanding our offerings to serve you better.</p>
          </div>
        </li>
        <li>
          <div class="experience-content hidden">
            <h2>Company</h2>
            <div class="experience-time">Jul - Dec 2015</div>
            <p>Embracing challenges and creating memorable experiences for our customers.</p>
          </div>
        </li>
        <li>
          <div class="experience-content hidden">
            <h2>Company</h2>
            <div class="experience-time">Mar - Jun 2015</div>
            <p>Building a community of satisfied customers through innovation and dedication.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="skills">
    <div class="content">
      <div class="development-wrapper">
        <h2 class="development-title">Skills</h2>
        <ul class="skills-bar-container">
          <li>
            <div class="progressbar-title">
              <h3>UI Design</h3>
              <span class="percent" id="design-percent"></span>
            </div>
            <div class="bar-container" data-percent="95">
              <span class="progressbar" id="progress-design"></span>
            </div>
          </li>
          <li>
            <div class="progressbar-title">
              <h3>Responsive Design</h3>
              <span class="percent" id="responsive-design-percent"></span>
            </div>
            <div class="bar-container" data-percent="85">
              <span class="progressbar" id="progress-responsive-design"></span>
            </div>
          </li>
          <li>
            <div class="progressbar-title">
              <h3>Graphic Design</h3>
              <span class="percent" id="graphic-design-percent"></span>
            </div>
            <div class="bar-container" data-percent="80">
              <span class="progressbar" id="progress-graphic-design"></span>
            </div>
          </li>
        </ul>
      </div>
      <div class="tools-knowledge-wrapper">
        <div class="tools-wrapper">
          <h2 class="title">Tools</h2>
          <ul class="tools">
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Adobe Photoshop
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Adobe Illustrator
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Figma
            </li>
          </ul>
        </div>
        <div class="knowledge-wrapper">
          <h2 class="title">Knowledge</h2>
          <ul class="knowledge">
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Wireframing
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Responsive Design
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              ...
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </section>
  
  
  <section class="portfolio">
    <div class="content">
      
      <h1>Some works</h1>
      
      <div class="projects">
        
        <div class="project">
          <div class="project-image">
            <!-- Credit image : Unsplash - Harman Abiwardani -->
            <img src="https://avatars.mds.yandex.net/i?id=7ad16dd94b87165ec82ae2f8e89a968f-5334334-images-thumbs&n=13" alt=""/>
          </div>
          <div class="project-title">
            <h2>Rolls-Royce</h2>
          </div>
          <div class="project-description">
            <p>На нашем сайте вы можете приобрести роскошный телефон Rolls-Royce, воплощающий элегантность и статус. Предлагаем эксклюзивные модели с высоким качеством материалов и инновационными функциями. Широкий выбор дизайна и технических характеристик позволяет подобрать идеальный телефон под ваш стиль. Мы гарантируем аутентичность продукции и безопасность покупки. Наши выгодные цены и удобные условия доставки делают покупку Rolls-Royce Phone на нашем сайте приятным и уникальным опытом. Обеспечиваем высокий уровень сервиса и конфиденциальность данных. Утонченность и роскошь Rolls-Royce теперь доступны с легкостью через наш сайт.</p>
          </div>
        </div>
        <div class="project">
          <div class="project-image">
            <!-- Credit image : Unsplash - Patrick Hendry -->
            <img src="https://avatars.mds.yandex.net/i?id=ee8f19e9161863bdee6abb807b0be4e20691f0ac-10876270-images-thumbs&n=13" alt=""/>
          </div>
          <div class="project-title">
            <h2>IPhone 15</h2>
          </div>
          <div class="project-description">
            <p>На нашем сайте вы можете приобрести последние модели iPhone с гарантированной оригинальностью и высоким качеством. Широкий выбор цветов и конфигураций позволит вам выбрать идеальный вариант под ваши потребности. Мы предлагаем выгодные цены, специальные предложения и быструю доставку. Совершайте покупку просто и удобно, используя наш интуитивно понятный интерфейс. Гарантируем безопасность данных и конфиденциальность информации. Приобретайте iPhone на нашем сайте — это надежно, удобно и современно.</p>
          </div>
        </div>
        <div class="project">
          <div class="project-image">
            <!-- Credit image : Unsplash - Ken Cheung -->
            <img src="https://avatars.mds.yandex.net/i?id=62b17b1388ddcee498ce4153dc61c86948957be9-9065766-images-thumbs&n=13" alt=""/>
          </div>
          <div class="project-title">
            <h2>MSI GP66 Leopard</h2>
          </div>
          <div class="project-description">
            <p>Приобретайте мощный геймерский телефон MSI GP66 Leopard на нашем сайте с уверенностью в выдающейся производительности. Мы предлагаем широкий выбор конфигураций и гарантируем оригинальность продукции. Наши выгодные цены и специальные предложения делают покупку доступной. Прозрачная информация о технических характеристиках поможет вам сделать осознанный выбор. Быстрая доставка и безопасные методы оплаты обеспечивают удобство и надежность в процессе покупки. MSI GP66 Leopard — это не только высокая производительность, но и стильный дизайн, который подчеркнет ваш геймерский образ. Обновите свой игровой опыт, заказав MSI GP66 Leopard на нашем сайте.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
<style>
    .log_reg {
        position: fixed;
        z-index: 99999;
        background-color: rgba(145, 197, 211, 0.685);
        width: 100%;
        height: 55px;
        text-align: right;
        padding: 12px;
    }
    
    .log_reg a{
        text-decoration: none;
        color: black;
        padding: 10px;
        font-weight: bold;
    
    }
    
    .log_reg .login{
        border: 2px solid black;
        padding: 7px;
    }
    
    .register:hover {
        color:rgb(66, 14, 255);
        transition: .8s;
    
    }
    
    .log_reg .login:hover   {
        transition: .8s;
        color: aqua;
        background-color: rgb(41, 38, 38);
    }
    @import url(https://fonts.googleapis.com/css?family=PT+Sans);
    *,
    *:before,
    *:after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html,
    body {
      width: 100%;
      height: 100%;
    }

    body {
      color: #444;
      background: #f9f9f9;
      font-size: 16px;
      font-family: "PT Sans", sans-serif;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    section {
      position: relative;
      width: 100%;
    }
    .hero {
      height: 100%;

      background: url("https://source.unsplash.com/a2NRu2Wxa2o/");
      background-size: cover;
      background-position: center;
    }
    .hero .content {
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
    }
    .hero .content .header {
      position: absolute;
      top: 55%;
      width: 100%;
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      text-align: center;
      opacity: 0;
    }
    .hero .content .header h1 {
      color: #fff;
      font-size: 2.5em;
      text-shadow: 0px 2px 3px #2d2d2d;
    }

    .about-myself {
      padding: 50px 20px;
    }
    .about-myself .content {
      text-align: center;
    }
    .about-myself .content h2 {
      color: #3d3d3d;
      font-size: 3em;
      margin-bottom: 20px;
      -webkit-transform: translateY(-50px) scale(0);
      transform: translateY(-50px) scale(0);
      -webkit-transition: transform 0.7s;
      -moz-transition: transform 0.7s;
      transition: transform 0.7s;
    }
    .about-myself .content .aboutTitleVisible {
      -webkit-transform: translateY(0px) scale(1);
      transform: translateX(0px) scale(1);
    }
    .about-myself .content p span {
      color: #c0392b;
      font-weight: bold;
    }

  
    .experience {
      background: #1a1a1a;
      padding: 50px 0;
      overflow-x: hidden;
    }
    .experience .content {
      text-align: center;
    }
    .experience .content h1 {
      font-size: 2em;
      color: #fff;
    }
    .experience .content ul {
      padding: 50px 0;
      list-style-type: none;
    }
    .experience .content ul li {
      background: #f9f9f9;
      position: relative;
      margin-left: 20px;
      width: 5px;
      padding-bottom: 40px;
    }
    .experience .content ul li:last-child {
      padding-bottom: 7px;
    }
    .experience .content ul li:before {
      content: "";
      background: #1a1a1a;
      position: absolute;
      left: 50%;
      top: 0;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 20px;
      height: 20px;
      border: 4px solid #f9f9f9;
    }
    .experience .content ul li .hidden {
      opacity: 0;
      margin-left: 10vw;
    }
    .experience .content ul li .experience-content {
      background: #f9f9f9;
      position: relative;
      top: 7px;
      left: 48px;
      width: calc(100vw - 100px);
      padding: 20px;
      text-align: center;
      -webkit-border-radius: 0 5px 5px;
      -moz-border-radius: 0 5px 5px;
      border-radius: 0 5px 5px;
    }
    .experience .content ul li .experience-content h2 {
      font-size: 1.5em;
      color: #3c3c3c;
      padding-bottom: 10px;
    }
    .experience .content ul li .experience-content .experience-time {
      color: #777;
      font-size: 1.1em;
      padding-bottom: 10px;
    }
    .experience .content ul li .experience-content p {
      color: #1a1a1a;
      font-size: 0.95em;
    }
    .experience .content ul li .experience-content:before {
      content: "";
      background: #f9f9f9;
      position: absolute;
      top: 0;
      left: -35px;
      width: 35px;
      height: 5px;
    }


    .skills {
      padding: 70px 20px;
    }
    .skills .content .development-wrapper .development-title {
      color: #3c3c3c;
      font-size: 2em;
      text-align: center;
      margin-bottom: 20px;
    }
    .skills .content .development-wrapper .skills-bar-container {
      position: relative;
      width: 100%;
      list-style-type: none;
    }
    .skills .content .development-wrapper .skills-bar-container li {
      width: 100%;
      margin-bottom: 20px;
    }
    .skills .content .development-wrapper .skills-bar-container li .progressbar-title {
      color: #3c3c3c;
      margin-bottom: 5px;
    }
    .skills .content .development-wrapper .skills-bar-container li .progressbar-title h3 {
      display: inline-block;
    }
    .skills .content .development-wrapper .skills-bar-container li .progressbar-title .percent {
      position: absolute;
      right: 20px;
      font-size: 1.1em;
    }
    .skills .content .development-wrapper .skills-bar-container li .bar-container {
      background: #ececec;
      position: relative;
      width: 100%;
      height: 10px;
    }
    .skills .content .development-wrapper .skills-bar-container li .bar-container .progressbar {
      background: #34495e;
      position: absolute;
      width: 0%;
      height: 100%;
    }
    .skills .content .tools-knowledge-wrapper {
      width: 100%;
    }
    .skills .content .tools-knowledge-wrapper .tools-wrapper,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper {
      position: relative;
      padding: 20px 0;
      widht: 100%;
      text-align: center;
    }
    .skills .content .tools-knowledge-wrapper .tools-wrapper .title,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper .title {
      color: #3c3c3c;
      font-size: 2em;
      margin-bottom: 10px;
    }
    .skills .content .tools-knowledge-wrapper .tools-wrapper ul,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper ul {
      list-style-type: none;
      margin-left: 40px;
    }
    .skills .content .tools-knowledge-wrapper .tools-wrapper ul li,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper ul li {
      color: #444;
      font-weight: bold;
      font-size: 1.1em;
      text-align: left;
    }
    .skills .content .tools-knowledge-wrapper .tools-wrapper ul li i,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper ul li i {
      color: #27ae60;
    }


    .resume {
      background: #1a1a1a;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .resume .content {
      background: rgba(0, 0, 0, 0.3);
      padding: 50px 0;
      text-align: center;
    }
    .resume .content a {
      color: #fff;
      text-transform: uppercase;
    }
    .resume .content a .btn-resume {
      display: inline-block;
      font-size: 1.1em;
      padding: 20px;
      margin: 0 15px;
      background: rgba(255, 255, 255, 0.2);
      position: relative;
      border: 2px solid #fff;
      border-radius: 5px;
      overflow: hidden;
    }
    .resume .content a .btn-resume span {
      -webkit-transition: opacity 1.2s;
      -moz-transition: opacity 1.2s;
      transition: opacity 1.2s;
    }
    .resume .content a .btn-resume i {
      color: #fff;
      position: absolute;
      padding: 20px 0;
      top: -80px;
      width: 100%;
      left: 0;
      -webkit-transition: top 0.5s;
      -moz-transition: top 0.5s;
      transition: top 0.5s;
    }
    .resume .content a .btn-resume:hover span {
      opacity: 0;
      -webkit-transition: opacity 0.4s;
      -moz-transition: opacity 0.4s;
      transition: opacity 0.4s;
    }
    .resume .content a .btn-resume:hover i {
      top: 0;
    }


    .portfolio {
      background: #f9f9f9;
      padding: 80px 0;
    }
    .portfolio .content {
      text-align: center;
    }
    .portfolio .content h1 {
      color: #3c3c3c;
      font-size: 2em;
      margin-bottom: 50px;
    }
    .portfolio .content .projects {
      width: 100%;
    }
    .portfolio .content .projects .project {
      color: #fff;
      position: relative;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 10%;
      overflow: hidden;
    }
    .portfolio .content .projects .project:last-child {
      margin-bottom: 0;
    }
    .portfolio .content .projects .project .project-image img {
      width: 100%;
    }
    .portfolio .content .projects .project .project-title {
      color: #3c3c3c;
      padding: 10px 0;
    }
    .portfolio .content .projects .project .project-description {
      color: #444;
    }

    .contact {
      padding: 30px 0;
    }
    .contact .socials {
      list-style-type: none;
      width: 100%;
    }
    .contact .socials .social {
      width: 25%;
      float: left;
      text-align: center;
    }
    .contact .socials .social a {
      color: #3d3d3d;
      font-size: 1.5em;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      transition: color 0.3s;
    }
    .contact .socials .social .email:hover {
      color: #c8a028;
    }
    .contact .socials .social .twitter:hover {
      color: #57aee7;
    }
    .contact .socials .social .linkedin:hover {
      color: #0177b5;
    }
    .contact .socials .social .codepen:hover {
      color: #707070;
    }
    .contact .clear {
      clear: both;
    }

    .footer {
      padding: 25px 0;
      text-align: center;
    }
    .footer p {
      color: #777;
      font-size: 1.1em;
    }
    .footer i {
      color: #e74c3c;
    }


    @media screen and (min-width: 480px) {
      .skills .content .tools-knowledge-wrapper .tools-wrapper,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper {
        width: 50%;
        float: left;
        padding: 0;
      }
      .skills .content .tools-knowledge-wrapper .tools-wrapper ul,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper ul {
        margin-left: 0;
      }
      .skills .content .clear {
        clear: both;
      }
    }
    @media screen and (min-width: 640px) {
      .about-myself {
        padding: 100px 40px;
      }

      .skills {
        padding-left: 0;
        padding-right: 0;
      }
      .skills .content .development-wrapper {
        width: 600px;
        margin: auto;
        margin-bottom: 50px;
      }
      .skills .content .tools-knowledge-wrapper {
        width: 600px;
        margin: auto;
      }

      .contact .content .socials {
        width: 600px;
        margin: auto;
      }
    }
    @media screen and (min-width: 960px) {
      .experience .content ul li {
        margin: 0 auto;
      }
      .experience .content ul li .experience-content {
        width: 40vw;
      }
      .experience .content ul li:nth-child(odd) .experience-content {
        left: 63px;
      }
      .experience .content ul li:nth-child(odd) .experience-content:before {
        left: -50px;
        width: 50px;
      }
      .experience .content ul li:nth-child(even) .experience-content {
        left: calc(-40vw - 57px);
        -webkit-border-radius: 5px 0px 5px 5px;
        -moz-border-radius: 5px 0px 5px 5px;
        border-radius: 5px 0px 5px 5px;
      }
      .experience .content ul li:nth-child(even) .experience-content:before {
        left: auto;
        right: -50px;
        width: 50px;
      }
      .experience .content ul li:nth-child(odd) .hidden {
        margin-left: 10vw;
      }
      .experience .content ul li:nth-child(even) .hidden {
        margin-left: -10vw;
      }

      .skills {
        padding-left: 50px;
        padding-right: 50px;
      }
      .skills .content {
        max-width: 1100px;
        margin: auto;
      }
      .skills .content .development-wrapper,
    .skills .content .tools-knowledge-wrapper {
        float: left;
      }
      .skills .content .development-wrapper {
        margin-bottom: 0;
        width: 60%;
      }
      .skills .content .tools-knowledge-wrapper {
        width: 40%;
        margin-top: 60px;
      }
      .skills .content .tools-knowledge-wrapper .tools-wrapper,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper {
        float: none;
        margin: auto;
      }
      .skills .content .tools-knowledge-wrapper .tools-wrapper {
        margin-bottom: 30px;
      }

      .portfolio .content .projects .project {
        position: relative;
        margin: auto;
        margin-bottom: 3%;
        width: 680px;
        height: 450px;
        overflow: hidden;
      }
      .portfolio .content .projects .project:hover .project-image {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
      }
      .portfolio .content .projects .project:hover .project-title, .portfolio .content .projects .project:hover .project-description {
        opacity: 1;
      }
      .portfolio .content .projects .project .project-image {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        z-index: 3;
        overflow: hidden;
      }
      .portfolio .content .projects .project .project-image img {
        width: 100%;
        height: auto;
        min-height: 100%;
        min-width: 100%;
      }
      .portfolio .content .projects .project .project-title,
    .portfolio .content .projects .project .project-description {
        position: absolute;
        height: 50%;
        opacity: 0;
        -webkit-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
        overflow: hidden;
      }
      .portfolio .content .projects .project .project-title {
        width: 50%;
        top: 0;
        right: 0;
        padding: 10px;
        text-align: center;
        display: table;
      }
      .portfolio .content .projects .project .project-title h2 {
        font-size: 2em;
        text-decoration: underline;
        display: table-cell;
        vertical-align: middle;
      }
      .portfolio .content .projects .project .project-description {
        width: 100%;
        top: 50%;
        left: 0;
        padding: 25px 10px;
        text-align: left;
      }
    }
    
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Main variables
        var aboutTitle = document.querySelector(".about-myself .content h2");
        var developmentWrapper = document.querySelector(".development-wrapper");
        var developmentIsVisible = false;
      

      
        var header = document.querySelector(".hero .content .header");
        setTimeout(function () {
          header.style.opacity = "1";
          header.style.top = "50%";
        }, 500);
      
        window.addEventListener("scroll", function () {
          var bottomOfWindow = window.scrollY + window.innerHeight;

          if (bottomOfWindow > aboutTitle.offsetTop + aboutTitle.offsetHeight) {
            aboutTitle.classList.add("aboutTitleVisible");
          }
      

          var hiddenElements = document.querySelectorAll(".experience .content .hidden");
          hiddenElements.forEach(function (element) {
            var bottomOfObject = element.offsetTop + element.offsetHeight;
      
            if (bottomOfWindow > bottomOfObject) {
              element.style.opacity = "1";
              element.style.marginLeft = "0";
            }
          });
      

          var middleOfDevelopmentWrapper =
            developmentWrapper.offsetTop + developmentWrapper.offsetHeight / 2;
      
          if (bottomOfWindow > middleOfDevelopmentWrapper && !developmentIsVisible) {
            var skillBars = document.querySelectorAll(".skills-bar-container li");
            skillBars.forEach(function (bar) {
              var barContainer = bar.querySelector(".bar-container");
              var dataPercent = parseInt(barContainer.dataset.percent);
              var progressBar = bar.querySelector(".progressbar");
              var percent = bar.querySelector(".percent");
              var width = 0;
      
              var id = setInterval(frame, 15);
      
              function frame() {
                if (width >= dataPercent) {
                  clearInterval(id);
                } else {
                  width++;
                  progressBar.style.width = width + "%";
                  percent.innerHTML = width + " %";
                }
              }
            });
            developmentIsVisible = true;
          }
        });
      });
      
</script>