{% load static %}


<nav>
  <div>
    <img src="{% static "img/shopifyX.png" %}" alt="ShopifyX Logo">
    <span>ShopifyX</span>
  </div>
  <div>
    <a href="#">Товары</a>
    <input type="text" placeholder="Поиск">
    <a href="#">Корзина</a>
    <a href="#">Создать товар</a>
  </div>
  <div>
    <a href="#">
      <img src="{% static "img/icon.png" %}" alt="ShopifyX Logo">
    </a>
  </div>
</nav>
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  nav {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 900px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
  }

  nav img {
    height: 30px; /* Set the desired height for your logo */
    width: auto;
    margin-right: 10px;
  }

  nav input[type="text"] {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  nav input[type="text"]:focus {
    border-color: #4a90e2;
    box-shadow: 0px 0px 5px rgba(74, 144, 226, 0.5);
  }
</style>