{% extends 'main/base.html' %}

{% block content %}
<div style="text-align: center; margin:0 auto;">
      <h2>All Products</h2>
  <ul>
    {% for product in products %}
      <li>
        <a href="{% url 'view_product' product_id=product.id %}">{{ product.name }}</a>
        {% if user.is_authenticated and user == product.user %}
          (<a href="{% url 'edit_product' product_id=product.id %}">Edit</a>,
           <a href="{% url 'delete_product' product_id=product.id %}">Delete</a>)
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}